<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RescueGroupsAPI</key>
	<string>0doJkmYU</string>
	<key>YouTubeAPI</key>
	<string>AIzaSyAncgYuV4FLT8ScN8K2Tp5oZQBHXVdFTgw</string>
	<key>ZipWiseAPI</key>
	<string>ed472c80-0092-11ec-831f-5172bde888e2</string>
</dict>
</plist>
